RAG_Tugas4.json
{
  "name": "RAG_Tugas4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        16
      ],
      "id": "4d221623-ee0e-463d-8999-53297c340fa3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "1he5idmRUhjT0IrYdw_LXEflkIavdO0CU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        16
      ],
      "id": "d152541a-39c8-46c4-a7b0-504293f7553d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ziXYZYbi2luoF5LQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        448,
        16
      ],
      "id": "8a5ab403-067e-4952-97d2-1636987ccc39",
      "name": "Supabase Vector Store (RAG Pipeline)",
      "credentials": {
        "supabaseApi": {
          "id": "ilhbpf01QNQmaCIg",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        160
      ],
      "id": "576bcebd-ba7c-45d7-b73e-3d7ec34ff407",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        256
      ],
      "id": "2f626236-01cf-48a9-b2c1-e83bdfe2bda9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ZiQbNeABzTAsQwAO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        400
      ],
      "id": "4868fa19-cce1-4562-929c-d78812afd6f0",
      "name": "When chat message received",
      "webhookId": "b2ab5aff-05b3-4f20-9500-00d53ef2da75",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.chatInput }}",
        "options": {
          "systemMessage": "Anda adalah asisten yang membantu mahasiswa menulis skripsi.\nGunakan tool yang tersedia untuk mencari informasi dari database panduan skripsi.\nJika tool tidak menemukan informasi, katakan \"Maaf, saya tidak menemukan informasi tentang itu di database.\"\nJangan menjawab berdasarkan pengetahuan Anda sendiri."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        400
      ],
      "id": "22ab4fb9-3d3e-47cc-ada7-1fc0c3980528",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan tool ini untuk mencari informasi tentang panduan penulisan ilmiah tugas akhir/skripsi, termasuk panduan menulis Bab 1, Bab 2, Bab 3, Bab 4, dan Bab 5.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        496
      ],
      "id": "c25cdbe9-d1e2-4886-baf6-42fec22e6f0a",
      "name": "Supabase Vector Store (Tool)",
      "credentials": {
        "supabaseApi": {
          "id": "QOjjbv8ojEZMkUfL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        592
      ],
      "id": "81f0ca07-44ea-4325-9f65-35b975555d0a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        608
      ],
      "id": "4580a4d0-294b-4cc3-b0b7-9a5b97d34835",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZiQbNeABzTAsQwAO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store (RAG Pipeline)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store (RAG Pipeline)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (RAG Pipeline)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store (Tool)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (Tool)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b76bb806-af29-4621-b764-cfe6cb162d52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85556abe5e9057872491d8bf33596114e6fcf33d189bf5cfb1dec412140f7640"
  },
  "id": "EFz9YmbsM0qRfyyy",
  "tags": []
}